{"KinectServerPath":"E:/Ayo_KinectProject/RoomAliveToolkitWrapper-master/RoomAliveToolkitWrapper-master/RoomAliveToolkit/ProCamCalibration/KinectServer/bin/Debug/KinectServer.exe","ProjectorServerPath":"E:/Ayo_KinectProject/RoomAliveToolkitWrapper-master/RoomAliveToolkitWrapper-master/RoomAliveToolkit/ProCamCalibration/ProjectorServer/bin/Debug/ProjectorServer.exe","ConsoleApplicationPath":"E:/Ayo_KinectProject/RoomAliveToolkitWrapper-master/RoomAliveToolkitWrapper-master/RoomAliveWrapper/bin/Debug/RoomAliveWrapper.exe","IsTrackingHead":true,"IsVerbose":false,"IsDebug":false}